BOT_TOKEN=put_your_8526126123:AAFHrXA2YeHSzVMul02G5w3JFY1OlO8jK_4
FOOTBALL_API_KEY=6034289b6d81384d1d199a1ff9e248fd
WORLD_CUP_LEAGUE_ID=1
WORLD_CUP_SEASON=2026
TZ=Europe/Riga
ADMIN_ONLY_SETTINGS=true
